body {
  font-family: "Courier New", Courier, monospace;
  background-color: #1e1e1e;
  color: #f0f0f0;
  text-align: center; /* Center all text within the body */
}
h1,
h2 {
  color: #dcdcdc;
}
.code-pic {
  width: 50px; height: 50px;
}
.profile-pic {
  border-radius: 240px; /* Round the corners of the image */
  border: 5px solid #333; /* Optional: Add a subtle border to define the edge */
  display: block; /* Allows margin: auto to work for centering */
  margin: 10px auto; /* Center the image horizontally with some top/bottom margin */
  width: 30%;
  height: auto;
}
.profile-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}
.text-column{
    display: flex;
    flex-direction: column;
    margin-right: auto;
}
.header {
    color: #dcdcdc;
    font-style: bold;
    font-size: 200%;
    display: block;
}
.header2 {
  font-style: bold;
  font-size: 120%;
}

